<h1>ToDo Web App</h1>
<p>
  In the course of my first bachelor thesis I compared two technologies for the realization of mobile web apps, namely Sencha Touch<br> and jQuery Mobile. Therefore I developed a ToDo App. Check out the <%= link_to "jQuery Mobile App", "jquery_mobile/tasks" %> and the <%= link_to "Sencha Touch App", "sencha_touch/tasks" %>.
</p>
