<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sencha Touch Layout</title>
  <%= stylesheet_link_tag    "sencha_touch" %>
  <%= javascript_include_tag "sencha_touch" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= yield %>
</body>
</html>